<%= form_for @routine do |f| %> 
    <%= f.label :title %>
    <%= f.text_field :title %>

    <h2>Add Workout</h2>
        <%= render :partial => 'workout_fields' %>
    <div class="submit">
    <%= f.submit "Create Routine" %>
    <%= link_to "Go back", routine_path %>
    </div>
<% end %>