<%= form_for @routine do |f| %> 
    <%= f.label :title %>:
    <%= f.text_field :title %>
    <h3>Add Workout</h3>
    <%= render :partial => 'workout_fields' %> 
    <br>
    <div class="submit">
    <%= f.submit "Create Routine" %>
    </div>
<% end %>