<%= form_for @routine do |f| %> 
    <h1>
    <%= f.label :title %>:
    <%= f.text_field :title %>
    </h1>
    <h2>Add Workout</h2>
        <%= render :partial => 'workout_fields' %>
    <%= f.submit "Create Routine" %>
    <%= link_to "Go back", routines_path %>
<% end %>