<div class="workoutform">
<%= fields_for :workouts do |builder| %>
    <%= builder.label :sets %>:
    <%= builder.number_field :sets, :required => true %>
    <%= builder.label :reps %>:
    <%= builder.number_field :reps, :required => true %>
    <%= builder.label :exercise_id %>:
    <%= builder.select :exercise_id, Exercise.pluck(:name, :id) %>
<% end %>
</div>