<h1>Editing: <%= @user.email %></h1>

<% if @user.errors.any? %>
<div class="form">
    <ol>
        <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
        <% end %>
    </ol>
</div>
<% end %>

<div class="form">
<%= form_for(@user, :html => {:multipart => true}) do |f| %>
    <%= f.label :Profile_picture %>
    <%= f.cl_image_upload :image %>

    <%= f.submit "Update Details" %>
<% end %>
</div>