<div class="user_image">
    <% if @user.image.present? %>
        <%= cl_image_tag(@user.image) %>
    <% else %>
        <%= image_tag("default.png")%>
    <% end %>
</div>

<div class="user_name">
    <h2>
        <%= @user.email %>'s' Page
    </h2>
    
</div>

<div class="user_facts">
<h2>Facts</h2>
    <ul>
        <li>has made <strong><%= @user.routines.count  %></strong> Routines </li>
    </ul>
</div>

<div class="controls">
    <%= link_to "Edit User", edit_user_path %>
</div>
