<%= form_for(@muscle, :html => {:multipart => true}) do |f| %>
    <div class="form">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>

    <%= f.label :Image %>
    <%= f.cl_image_upload :image %>

    <%= f.submit "Update Muscle" %>
    </div>
<% end %>