<h1> <%= @muscle.name %></h1>
<% if @muscle.image.present? %>
     <%= cl_image_tag(@muscle.image, :class => "muscle")%>
<% end %>
<h2>Exercises that train <%= @muscle.name %>: </h2>
<div class="list">
<% @muscle.exercises.each do |exercise| %>
    <ul>
    <p> <strong> <%= link_to exercise.name, exercise %> </strong> </p>
    </ul>
<% end %>
</div>


<div class="controls">
    <%= link_to "Edit Muscle", edit_muscle_path(@muscle) %>
    <%= link_to 'Delete Muscle', @muscle, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>