<%= form_for @exercise do |f| %> 
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :youtube %>
    <%= f.text_field :youtube %>

    <div class="submit">
    <%= f.submit "Add Exercise" %>
    </div>
<% end %>