<h2> <%= @exercise.name %></h2>
<% if @exercise.youtube.present? %>
     <%= raw(YouTubeRails.youtube_embed_url("#{@exercise.youtube}")) %>
<% end %>
<h2>Muscles trained:</h2>
<div class="list">
<% @exercise.muscles.each do |muscle| %>
    <ul>
        <p> <strong> <%= link_to muscle.name, muscle %> </strong> </p>
    </ul>
<% end %>
</div>

<div class="controls">
    <%= link_to "Edit Exercise", edit_exercise_path(@exercise) %>
    <%= link_to 'Delete Exercise', @exercise, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>