<h1><%= @routine.title %></h1>
<% if @routine.user.present? %>
        <h4> By: <%= @routine.user.email %> </h4>
     <% else %>
         <h4> No Owner </h4>
<% end%>
    <% if @check == [nil] %>
        <br>
        <h2>Routine is empty!</h2>
        <br>
    <% else %>
    <% @workouts.each do |workout| %>
        <div class="publiclist">
            <strong> <%= workout.sets %> </strong> sets of 
            <strong> <%= workout.reps %> </strong> reps of
            <strong> <%= link_to "#{workout.exercise.name}'s", "/exercises/#{workout.exercise_id}" %> </strong>
        </div>
        <% end %>
     <% end %>